[submodule "Mask"]
	path = Mask
	url = git@github.com:daviddoria/Mask.git
[submodule "GUI/ITKVTKHelpers"]
	path = GUI/ITKVTKHelpers
	url = git@github.com:daviddoria/ITKVTKHelpers.git
[submodule "GUI/ITKVTKCamera"]
	path = GUI/ITKVTKCamera
	url = git@github.com:daviddoria/ITKVTKCamera.git
[submodule "GUI/VTKHelpers"]
	path = GUI/VTKHelpers
	url = git@github.com:daviddoria/VTKHelpers.git
[submodule "GUI/Layer"]
	path = GUI/Layer
	url = https://github.com/daviddoria/Layer
[submodule "PatchProjection"]
	path = PatchProjection
	url = https://github.com/daviddoria/PatchProjection.git
[submodule "PatchComparison"]
	path = PatchComparison
	url = https://github.com/daviddoria/PatchComparison.git
