[submodule "GUI/ITKVTKHelpers"]
	path = GUI/ITKVTKHelpers
	url = ../ITKVTKHelpers.git
[submodule "GUI/ITKVTKCamera"]
	path = GUI/ITKVTKCamera
	url = ../ITKVTKCamera.git
[submodule "GUI/VTKHelpers"]
	path = GUI/VTKHelpers
	url = ../VTKHelpers.git
[submodule "GUI/Layer"]
	path = GUI/Layer
	url = ../Layer
[submodule "PatchComparison"]
	path = PatchComparison
	url = ../PatchComparison.git
[submodule "CMakeHelpers"]
	path = CMakeHelpers
	url = ../CMakeHelpers.git
